set-option -g default-shell "/bin/zsh"

# rebind prefix
unbind C-b
set-option -g prefix C-Space
bind-key C-Space send-prefix

# idk
set -g base-index 1
set -g escape-time 0

# enable mouse scroll
set -g mouse on

# Panes
bind ^ last-window
bind k select-pane -U
bind j select-pane -D
bind h select-pane -L
bind l select-pane -R
bind m resize-pane -Z

# move windows
bind-key -r Left swap-window -d -t -
bind-key -r Right swap-window -d -t +

# Reload
bind r source-file ~/.tmux.config # Reload

# toggle status bar locally
bind t set status

